
@{
    Layout = "";
}

@using CarRent.Areas.Client.ViewModels
@model ContactViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarrentBaku</title>
    <link rel="icon" href="https://carrentbaku.az/storage/2022/11/cropped-icon-32x32.png">
    <link rel="stylesheet" href="~/Client/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Client/assets/css/contacts.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Star Header -->
    <header>
        <div class="up">
            <div class="first">
                <ul>
                    <li> <i style="color: #fff;" aria-hidden="true" class="fas fa-phone-alt"></i></li>
                    <li><a href="">+994504777714</a></li>
                    <li>
                        <span class="elementor-icon-list-icon" style="color: #fff;"> <i aria-hidden="true" class="fas fa-envelope"></i> </span>
                        <span class="elementor-icon-list-text" style="color: #fff;">office@carrentbaku.az</span>
                    </li>
                    <li class="elementor-icon-list-item elementor-inline-item"> <a href="https://www.instagram.com/carrentbaku.az/"><span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fab fa-instagram"></i> </span> <span class="elementor-icon-list-text"></span> </a></li>
                    <li class="elementor-icon-list-item elementor-inline-item"> <a href="https://www.facebook.com/rentcarsbaku/"><span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fab fa-facebook"></i> </span> <span class="elementor-icon-list-text"></span> </a></li>

                </ul>
            </div>
            <div class="second">
                <ul class="elementor-icon-list-items elementor-inline-items">
                    <li class="elementor-icon-list-item elementor-inline-item"> <a href="https://az.carrentbaku.az"><span class="elementor-icon-list-text">AZ</span> </a></li>
                    <li class="elementor-icon-list-item elementor-inline-item"> <a href="https://ru.carrentbaku.az"><span class="elementor-icon-list-text">RU</span> </a></li>
                    <li class="elementor-icon-list-item elementor-inline-item"> <a href="https://ar.carrentbaku.az"><span class="elementor-icon-list-text">ENG</span> </a></li>
                </ul>
            </div>
        </div>
        <div class="down container">
            <div class="logo">
                <a href="./index.html">
                    <img src="https://carrentbaku.az/storage/2022/11/rent-logo-01-1-2048x261-1.png" alt="">
                </a>
            </div>

            <div class="cars">
                <ul>
                    <li>
                        <a href="">Our Cars<i style="font-size: 15px;color:#0c9ae0 ;" class="fas fa-angle-down"></i></a>
                    </li>

                    <li><a href="./rent.html">Rent a car</a></li>
                    <li><a style="color: #0c9ae0;" href="">Contacts</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- Start Main -->
    <main>
        <section class="adress-info">
            <h1 style="font-weight: bold; font-size: 60px;color: #fff; "><span style="margin-left: 15rem;">Have any </span><span style="color: #0c9ae0;"> queries? </span> Feel free to <br> <span style="color: #0c9ae0; margin-left: 34rem;">reach</span> us.</h1>
        </section>
        <section class="all-info container">
            <div class="box">
                <i style="margin-left: 110px;" class="fa-solid fa-envelope"></i> <br>
                <span style="color:black ; margin-left: 80px;">Email Address</span>
                <a href="mailto:office@carrentbaku.az"><h4>office@carrentbaku.az</h4></a>


            </div>
            <div class="box ">
                <i class="fa-solid fa-map"></i> <br>
                <span style="margin-left:60px ;">Address</span>
                <h4 style="margin-left: 40px;">Aziz Aliyev 11 (nearby Hard Rock Cafe)</h4>
            </div>
            <div class="box ">
                <i class="fa-solid fa-phone-flip"></i> <br>
                <span style="margin-left:40px ;">Phone Number</span>
                <h4>+994504777714</h4>
                <h4>+994554777714</h4>
                <h4>+994704777714</h4>
            </div>

        </section>
        <section class="map ">
            <div class="first">
                <nav>
                    <h6>
                        Head office <br>
                        <span style="color: #234896;">Aziz Aliyev 11 (nearby Hard Rock Cafe)</span>
                    </h6>
                </nav>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.791401231431!2d49.834437675469175!3d40.36914945853477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307db6bfb82df9%3A0x79e182443e90086a!2s11%20Aziz%20Aliyev%20St%2C%20Baku!5e0!3m2!1sen!2saz!4v1695995642631!5m2!1sen!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="second">
                <nav>
                    <h6>
                        Sales office <br>
                        <span style="color: #234896;">  13 Khojali Avenue, Baku</span>
                    </h6>
                </nav>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.15038604132!2d49.865023575469955!3d40.383359457670544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d1a528d7063%3A0x44cfa147f2b3ed7e!2s13a%20Khojali%20Avenue%2C%20Baku!5e0!3m2!1sen!2saz!4v1695996048330!5m2!1sen!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section class="sign">
            <div class="signup">
                <form method="POST" asp-route="client-contact-list">
                    <h1 style="color: black; font-weight: bold;"><span style="color: #234896;  margin-left: 35px;">Leave</span> a message</h1>
                    <div class="name">
                        <input asp-for ="Name"  placeholder="User name" required="">
                        <input asp-for="Surname"  placeholder="Last name" required="">
                    </div>
                    <div class="phone">
                        <input asp-for ="EmailAdress" placeholder="Email Address" required="">
                        <input asp-for="PhoneNumber" placeholder="Phone Number" required="">
                    </div>
                    <button type="submit"><span>Submit</span></button>
                </form>
            </div>

        </section>
    </main>

    <!-- End Main -->
    <!-- Start Footer -->
    <footer>

        <section class="first">
            <div class="box">
                <i style="margin-left: 40px;" aria-hidden="true" class="fas fa-map-pin"></i>
                <h3>Locations</h3>
                <p style="margin-left: -30px;">
                    Head office: Aziz Aliyev 11 <br> (nearby Hard Rock Cafe) <br>
                    Sales office: 13 Khojali Avenue, Baku
                </p>
            </div>
            <div class="box">
                <i style="margin-left: 40px;" aria-hidden="true" class="fas fa-phone-square-alt"></i>
                <h3 style="margin-left: -30px;">Phone numbers</h3>
                <p style="margin-left: 5px;">
                    +994504777714 <br>
                    +994554777714 <br>
                    +994704777714
                </p>
            </div>
            <div class="box">
                <i style="margin-left: 40px;" aria-hidden="true" class="fas fa-envelope-open"></i>
                <h3 style="margin-left: 33px;">Email</h3>
                <p>office@carrentbaku.az</p>

            </div>

        </section>

        <section class="second">
            <div class="icon">
                <img src="https://carrentbaku.az/storage/2022/11/carrentbaku-white-logo.png" alt="">
            </div>
            <div class="logo ">
                <a href=" https://www.whatsapp.com/carrentbaku.az/">
                    <i aria-hidden="true" class="fab fa-whatsapp"></i>
                </a>

                <a href=" https://www.instagram.com/carrentbaku.az/">
                    <i aria-hidden="true" class="fab fa-instagram"></i>
                </a>
                <a href=" https://www.facebook.com/carrentbaku.az/">
                    <i aria-hidden="true" class="fab fa-facebook"></i>
                </a>
            </div>
            <div class="data">
                <i style="color: #fff;" aria-hidden="true" class="far fa-copyright"></i>
                <span style="color: #fff; font-weight: bold;">2023 Site crafted by Arcod Technology</span>
            </div>
        </section>







    </footer>
    <!-- End Footer -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>
